.skills-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .skills-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 22px;
            font-weight: bold;
            margin: 0;
        }
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;

        .skill-item {
            padding: 10px 15px;
            background: linear-gradient(135deg,
                    rgba(120, 120, 143, 0.05) 0%,
                    rgba(168, 85, 247, 0.05) 100%);
            border: 1.5px solid rgba(45, 45, 53, 0.1);
            border-radius: 12px;
            text-align: center;
            cursor: default;
            overflow: hidden;


            &:hover {
                border-color: rgba(138, 139, 156, 0.3);
                box-shadow: 0 8px 20px rgba(135, 136, 160, 0.15);


                .skill-name {
                    font-weight: 600;
                }
            }

            .skill-name {
                font-size: 14px;
                color: var(--text-color);
                transition: all 0.3s ease;
                display: block;
                line-height: 1;
            }



        }
    }
}