.header-nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin: 20px;
    border-radius: 8px;

    p {
        font-size: 1.5rem;
        font-weight: bold;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;


        li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px;
            border-radius: 8px;

            a {
                color: var(--text-color);
                text-decoration: none;
            }

            &:hover {
                background: var(--button-hover-color);
            }
        }

    }

    .button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--text-color);

    }
}