.experience-card {
    padding: 1.5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .experience-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: bold;
        }
    }


    .experience-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .experience-item {
            display: flex;
            gap: 15px;
            align-items: center;

            .year {
                color: var(--text-color);
                font-size: 14px;
            }

            .company-info {
                display: flex;
                align-items: center;
                gap: 1rem;

                .company-logo {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    flex-shrink: 0;

                    &.logo-bg {
                        background-color: black;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    .company-name {
                        font-weight: bold;
                        font-size: 1rem;
                    }

                    .role {
                        font-size: 0.9rem;
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}