.profile-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    .profile-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .profile-header {
            .profile-image-container {
                width: 100%;
                background: var(--card-background-color);
                border-radius: 24px;
                overflow: hidden;
                margin-bottom: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 0.8;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .profile-info-header {
                h1 {
                    font-size: 1.8rem;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-weight: 700;
                }

                .bio {
                    color: var(--text-color);
                    line-height: 1.6;
                    font-size: 16px;
                }
            }

        }


        .divider {
            width: 100%;
            height: 1px;
            background: var(--card-border-color);
            margin: 16px 0;
        }

        .profile-contact {
            display: flex;
            flex-direction: column;
            gap: 12px;

            p {
                font-size: 16px;
                font-weight: 600;
            }

            .contact-item {
                display: flex;
                align-items: center;
                gap: 8px;

                a {
                    color: var(--text-color);
                }

            }
        }

        .social-links {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: auto;

            a {
                text-decoration: none;
            }


            .social-icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: var(--card-background-color);
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 1.2rem;
                color: var(--social-link-color);

                &:hover {
                    background: var(--social-link-hover-background-color);
                    color: var(--social-link-hover-color);
                }
            }
        }
    }

}