.button-arrow {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    padding: 5px;

    &:hover {
        background: var(--button-hover-color);
        border-radius: 5px;
    }
}