<app-card class="projects-card">
  <div class="card-header">
    <h2>Recent Projects</h2>
    <app-button-arrow text="All Projects" icon="heroArrowRightCircle" path="/projects" />
  </div>

  <div class="project-list">
    @for (project of projects(); track project.name) {
    <div class="project-item">
      <div class="project-image-container">
        <img [src]="project.image" [alt]="project.name" class="project-image" />
      </div>

      <div class="project-content">
        <h3 class="project-title">{{ project.name }}</h3>
        <p class="project-description">{{ project.description }}</p>

        <div class="project-tags">
          @for (tag of project.tags; track tag.label) {
          <a class="project-tag" [href]="tag.link" target="_blank" rel="noopener noreferrer" [attr.title]="tag.full">
            {{ tag.label }}
          </a>
          }
        </div>
      </div>
    </div>
    }
  </div>
</app-card>