.projects-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 24px;
    }

    .project-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;

        .project-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .project-image {
                border-radius: 8px;
            }

            .project-tags {
                display: flex;
                gap: 10px;

                .project-tag {
                    background: #eef2ff;
                    color: #4f46e5;
                    padding: 6px 12px;
                    border-radius: 6px;
                    align-self: flex-start;
                    font-size: 0.75rem;
                    font-weight: 600;
                    text-decoration: none;
                }
            }

        }
    }
}