:host {
    display: block;
    color: var(--text-color);
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;

    .container {
        display: grid;
        grid-template-columns: 320px 1fr 390px;
        gap: 24px;
        max-width: 1400px;
        margin: 0 auto;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .middle-column {
            height: 65%;
        }
    }
}